<h3>Update Equipe</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="equipe.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Pays</label>
      <input type="text" class="form-control" id="pays" required [(ngModel)]="equipe.pays" name="pays">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>